main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60vh;
    h2{
        color: rgb(65, 67, 75);
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        a{
            text-decoration: none;
            color: whitesmoke;
            background: linear-gradient(black, rgb(29, 28, 28),rgb(75, 74, 74));
            padding: 10px;
            border-radius: 10px;
            transition: 0.5s ease-in;
            &:hover{
                background: linear-gradient(rgb(75, 74, 74), rgb(77, 74, 74), black);
            }
            &:active{
                background: linear-gradient(rgb(77, 74, 74), rgb(75, 74, 74), black);
            }
        }
    }
}