---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Learn more about ARTECS",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p><strong>Our mission and vision:</strong></p>
		<ul class="list-inside list-disc" role="list">
			<li><strong>Mission:</strong> 
			Exploring and advancing the integration of art and computer science, blending creativity with technology to unlock new possibilities.</li>
			<li><strong>Vision:</strong>
			Foster innovation by empowering and inspiring the Hispanic community to imagine, create, and lead in the world of creativity and tech.</li>
		</ul>
		<p><strong>Meet Our Officers:</strong></p>
		<ul class="list-inside list-disc" role="list">
			<li><strong>President:</strong> Gabriel Alonso </li>
			<li><strong>Vice President:</strong> Rafael Garcia </li>
			<li><strong>Treasurer:</strong> Mauricio Rojo</li>
			<li><strong>Design Lead:</strong> Ricardo Ibave</li>
			<li><strong>Social Media:</strong> Fernanda Leon</li>
		</ul>
		<p>
			For any inquiries, feel free to reach out to us at: 
			<a class="cactus-link inline-block" href="mailto:utep-contact@artecs.org">utep-contact@artecs.org</a>
		</p>
		<p>We look forward to creating and innovating together!</p>
	</div>
</PageLayout>
